// 全局通用样式 ，已在全局引入



.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.ml {
  margin-left: 16px;

}
.mt{
  margin-top:10px;
}

.container {
  width: 100%;
  margin-bottom: 1rem;
  display: inline-block;
  background: #fff;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

//滚动条
::-webkit-scrollbar-track {
  box-shadow: none;
  background: none;
}

::-webkit-scrollbar {
  height: 8px !important;
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.5);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
  box-shadow: none;
}



